body {
    margin: 0;
    padding: 0;
    background-image: url('festmeny.png'); /* Háttérkép beállítása */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000; /* Navigációs sáv háttérszíne */
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(238, 228, 228);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Egér fölötti hátterezés */
    color: black;
}

.navbar .icon {
    position: absolute;
    top: 0px; /* Igazítás a felső sarkához */
    right: 10px; /* Igazítás a jobb sarkához */
    max-width: 50px; /* Méret beállítása */
}

.background-image { /*háttér töltse ki a teljes képernyőt*/
    position: fixed; 
    top: 20%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-20%); /*az y koordináta szerint lejjebtolja 20% ot*/
    z-index: -1;
}

.background-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    text-align: center;
    margin-top: 10px;
}

.centered-logo {
    display: block;
    margin: 0 auto;
    max-width: 30%;
}