<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kedvencek</title>
    <link rel="stylesheet" href="../css/style_webshop.css">
    <link rel="stylesheet" href="../css/login.css">

</head>
<body>
    <div class="background-image"> </div>
    <div class="vissza-container">
        <a href="http://localhost:3000/webshop">
            <img src="../img/vissza.jpg" alt="Ikon" class="vissza">
        </a>
      </div>

    
</body>
</html>